<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

{% extends "base.html" %}

{% block title %}VillageMED - Log In{% endblock %}

{% block head %}
  <style>
    .navbar {
      padding-bottom: 8px;
    }
  </style>
{% endblock %}

{% block content %}

  <style>
    .body-con {
    background: url("../static/SplashImage.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    }

    .btn {
    margin: 10px 20px;
    width: 150px
    }

    .navbar-collapse {
      padding-top: 8px;
    }

    .main-con {
      width: 400px;
      font-size: 2.5em;
      font-family: Trebuchet MS;
      height: auto;
      margin: 2% auto;
      margin-top: 65px;
      background-color: #efefef;
      text-align: center;
      padding-top: 35px;
      background-color: rgba(224, 224, 224, 0.7);
      border-radius: 20px;
      color: #000;
      box-shadow: -10px 10px 20px rgba(100, 100, 100, .8);
      }

    h1 {position: absolute;
      top: 200px;
      left: 30%;
      }

  </style>

  <div class='container-fluid body-con'> 
  <div class='container main-con'> 

    <p style='padding-bottom: 20px'> Your donations help in funding the expenses of our patients.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="villagemed@villagemed.com">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="VillageMED">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
    <input type="image" width="300px" src="../static/PayPalDonate.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  </div>



{% endblock %}